:root {
    --bg-color: #ffffff;
    --primary-color: #3441b7;
    --secondary-color: #d66a12;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

#result {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    padding: 8px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

table th {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}
